/Monopoly/nbproject/private/
/Monopoly/build/
/Monopoly/dist/
/NetFX/nbproject/private/
/NetFX/build/
/NetFX/dist/
/Primes/nbproject/private/
/Primes/build/
/Primes/dist/
/Client/nbproject/private/
/Client/build/
/Client/dist/